body {
  margin: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.cardbox {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  min-width: 500px;
  min-height: 300px;
  border-radius: 10px;
  padding: 80px 50px;
  overflow: hidden;
}

.cardbox:nth-of-type(3n+1){
  background-image: linear-gradient(
    90deg,
    rgba(254, 192, 155, 1) 0%,
    rgba(255, 140, 170, 1) 100%
  );
}

.cardbox:nth-of-type(3n+2){
  background-image: linear-gradient(
    90deg,
    rgba(139, 200, 245, 1) 0%,
    rgba(50, 149, 228, 1) 100%
  );
}

.cardbox:nth-of-type(3n){
  background-image: linear-gradient(
    90deg,
    rgba(122, 217, 208, 1) 0%,
    rgba(49, 216, 190, 1) 100%
  );
}

.icon {
  display: inline-block;
  position: absolute;
  right: 0;
}

.icon-img {
  min-width: 30px;
}

.cardbox + .cardbox {
  margin-left: 50px;
}

.card-header {
  font-size: 1.8em;
  margin-bottom: 30px;
  position: relative;
}

.card-body {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 50px;
}

.card-footer {
  font-size: 1.2em;
}

.cardbox::before, .cardbox::after{
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid transparent;
  opacity: 30%;
}

.cardbox::before{
  left: 50%;
  top: 50%;
}

.cardbox::after{
  bottom: 20%;
  left: 70%;
}